html {
	font-family: arial, sans-serif;
	font-size: 16px;
}

header {
	display: flex;	
	align-items: center;
	height: 64px;
	width: 100%;
	background-color: white;
}

header a {
	text-decoration: none;
	color: darkgrey;
}

.content {
}

.logo {
	display: flex;
	align-items: center;
	padding-left: 24px;
	flex-grow: 1;
}

.logo img {
	height: 50px;
	width: 50px;
}

.logo .bold {
	font-weight: bold;
	font-size: 1.25rem;
}

.logo span {
	font-size: 1.25rem;
}

nav span {
	display: inline-block;
	padding: 0 16px;
}

.banner {
	background-color: lightgrey;
	display: flex;
	align-content: center;
	align-items: center;
}

.banner img {
	width: 60%;
	height: 60%;
	display: flex;
	align-items: center;
	padding: 32px 40px 32px 24px;
}

.banner h2 {
	font-size: 2.5rem;
	font-weight: bold;
	color: #4d4d4d;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1.2;
}

.banner p {
	color: #4d4d4d;
	font-size: 1.25rem;
	font-family: verdana;
	line-height: 1.5;
	padding: 24px 0px;
}

.start-button span {
	display: flex;
	justify-content: center;
	background-color: #4d4d4d;
	color: white;
	padding: 16px;
	width: 70%;
}

.body {
	display: flex;
}

.practice img {
	width: 100%;
}

.practice {
	padding: 32px 24px;
	display: flex;
	flex-direction: column;
	width: 60%;
}

.practice h3 {
	color: #4d4d4d;
	font-size: 2rem;
	padding-top: 32px;
	font-weight: bold;
}

.practice p {
	font-size: 1rem;
	padding: 24px 0;
	color: darkgrey;
}

.practice span {
	font-weight: bold;
	padding-top: 24px;
	color: #4d4d4d;
}

.side {
	display: flex;
}

h5 {
	font-weight: bold;
	color: #4d4d4d;
	font-size: 1.25rem;
}

.right-bar {
	padding-top: 16px;
	border-left: 1px solid lightgrey;
	width: 423px;
}

.side {
	padding: 16px;
	display: flex;
	align-items: center;
	height: 168px;
	width: 423px;
}

.side img {
	height: 100%;
}

.block {
	padding: 16px;
	line-height: 1.2;
}

.block p {
	font-size: 14px;
	padding: 8px 0;
	line-height: 1.5;
}

.block h6 {
	font-size: 0.75rem;
}

a {
	color: cornflowerblue;
}

.learning {
	background-color: lightgrey;
}

.title {
	display: flex;
	justify-content: center;
	padding: 32px;
}

.title h5 {
	font-weight: bold;
	font-size: 2rem;
}

.courses {
	display: flex;
	justify-content: center;
}

.column {
	margin: 16px;
	display: flex;
	flex-direction: column;
}

.box {
	background-color: white;
	margin: 16px 0;
	width: 300px;
	height: 360px;
}

.box img {
	width: 100%;
}

.text {
	padding: 16px;
	line-height: 1.5;
}

.text h5 {
	padding: 16px 0;
	font-size: 1.4rem;
}

.text h4 {
	color: darkgrey;
}

.text p {
	padding: 8px 0;
	color: darkgrey;
}

.thesis {
	display: flex;
}

.vid {
	padding: 24px;
	width: 60%;
}

.vid video {
	width: 100%;
}

.text-bottom {
	line-height: 1.5;
	padding: 24px 0;
}

.text-bottom h5{
	padding: 24px 0;
}

.text-bottom p {
	color: darkgrey;
	padding-bottom: 32px;
}

.aside {
	display: flex;
	align-items: center;
	padding: 16px;
}

.aside img {
	width: 35%;
	margin: 16px 0;
}

.aside a {
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 16px;
}

.aside a:hover {
	background-color: lightgrey;
	text-decoration: none;

}

.words {
	padding: 24px;
	line-height: 1.2;
}

.words p {
	padding-top: 32px;
	color: darkgrey;
}

.fisma {
	padding-top: 42px;
}

footer {
	color: darkgrey;
	display: flex;
	border-top: 1px solid lightgrey;
	padding: 24px;
	margin-bottom: 64px;
}

footer p {
	width: 100%;
}

footer span {
	padding: 0 12px;
}

footer a {
	text-decoration: none;
	color: darkgrey;
}